body{
	background-color:#000;
	font-family:Arial;
	font-size:11pt;
	font-color:#fff;
	position:absolute;
	left:0px;
	margin: 0px;
	overflow:hidden;
}


/*****************************
GENERAL
*****************************/

#header{
	position:fixed;
	top:0px;
	width:100%;
	height:50px;
	background-color:gray;
}

#Drawer{
	position: fixed;
	bottom: 0px;
	background: green;
	height: 100px;
	width: 100%;
}

#code{
	width:100%;
	position:relative;
	float:top;
	top:50px;
	left:0px;
	overflow: hidden;
}

/*****************************
CODE / HEADER
*****************************/


.header {
	float: right;
	margin: 15px;
}

#trash{
	position: fixed;
	bottom: 105px;
	right: 17px;

}

table{
	 border-style: solid; 
	 border-radius: 5px;
}

.expr{
	border: gray; 
	border-style: solid; 
	border-radius: 10px;
	padding: 2px;
}
#List{
	list-style:none;
}
form{
	height: 10px;
}
.droppable{
	border: solid 1px gray;
}
.highlight {
    background-color:yellow;
}
.placeholder{
	width:100%;
	height:50px;
	background-color:yellow;
}
/*****************************
DRAWER
*****************************/

.bottomNav{
	float:left;
	text-align:center;
	width:100px;
	margin: 5px;
	margin-top:7px;
	border: 1px solid white;
	padding: 10px;
}
#options{
	position:fixed;
	width:100%;
	bottom:50px;
	height:50px;
	overflow: none;
	background-color:purple;
	word-spacing:10px;
}
#options div{
	visibility: hidden;
	position: absolute;
	margin: 3px;
	margin-top: 10px;
}
#options span {
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

#selectors{
	position:fixed;
	background-color:gray;
	width:100%;
	bottom:0px;
	height:50px;
}
