body{
    background: steelblue url('canvas.jpg');
    font-family:Arial;
    font-size:11pt;
    position:absolute;
    left:0px;
    margin: 0px;
<<<<<<< HEAD
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow:hidden;
=======
>>>>>>> ba185e6ad53378bc518f5f44aa57ec3c962392d2
}


/*****************************
GENERAL
 *****************************/


#header{
    position:fixed;
    top:0px;
    width:100%;
    height:50px;
    background:black;
    color: white;
    padding:0px;
}



.headerButton {
     float: right;
     margin: 15px;
}

#content{
    position:absolute;
    top:50px;
    left:0px;
    padding:0px;
}

#Drawer{
    position:absolute;
    left:0px;
    height: 100%;
    width: 200px;
    background: #555;
    border-right: 3px solid black;
}


#code{
<<<<<<< HEAD
    position:absolute;
    top:0px;
    left:200px;
}



/*****************************
 CODE / HEADER
 *****************************/
=======
     position:absolute;
     top:0px;
     left:200px;
 }
>>>>>>> ba185e6ad53378bc518f5f44aa57ec3c962392d2


.header {
    float: right;
    margin: 15px;
}


table{
<<<<<<< HEAD
    border-radius: 2px;
=======
     border-style: solid; 
     border-radius: 10px;
>>>>>>> ba185e6ad53378bc518f5f44aa57ec3c962392d2
}
th {
  margin: 0px;
  padding: 0px;
  border: none;
}

input{ 
  border: none;
  text-align: center;
}

.expr{
    border:  outset 2px;
    border-radius: 10px;
    padding: 2px;
    cursor: move;
}
<<<<<<< HEAD
#List{
    list-style:none;
}
=======



>>>>>>> ba185e6ad53378bc518f5f44aa57ec3c962392d2
#List li{
    cursor:mover;
   // z-index:100;
    margin: 20px 0px;
//    background-color:red;
}
form{
    height: 10px;
}
.droppable{
    border: inset 2px;
    border-radius: 10px;
    padding: 2px;
    min-width:  20px; /* deep nesting shouldn't squeeze a drop-target */
    font-weight: normal;
}
<<<<<<< HEAD
.placeholder{
    width:100%;
    height:15px;
}
=======



>>>>>>> ba185e6ad53378bc518f5f44aa57ec3c962392d2
/*****************************
 DRAWER
 *****************************/

#options{
<<<<<<< HEAD
    width:200px;
    height:100%;
    z-index:100;
    overflow:auto;
=======
     width:200px;
     float:top;
     background-color:darkslateblue;
     z-index:100;
>>>>>>> ba185e6ad53378bc518f5f44aa57ec3c962392d2
}

#options span {
    border: 2px outset;
    border-radius: 5px;
    padding: 3px;
    cursor: move;
}

#options .toggleHeader{
    width:100%;
    text-align:center;
    border-bottom: 1px solid #000;
    border-top:1px solid #000;
    margin-bottom: 10px;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";     /* For IE 8 */
}

#options  div{
    margin: 1px;
    display:none;
}

#options h1{
    margin-top:0px;
    margin-bottom:0px;
    cursor: pointer;
}

#options div  br{display: none;}
#options div  span{
    display: inline-block; 
    margin: 3px;
}


#selectors{
    position:fixed;
    background-color:gray;
    width:100%;
    bottom:0px;
    height:50px;
}

<<<<<<< HEAD
.ui-draggable{
    z-index: 10;
=======
#storagePopup {
    position:absolute;
    top:50px;
    left:250px;
    width:500px;
    height:500px;
    background-color:gray;
    padding:10px;
}

#codePopup {
    position:absolute;
    top:50px;
    left:250px;
    width:50%;
    height:500px;
    background-color:white;
    padding:10px;
>>>>>>> ba185e6ad53378bc518f5f44aa57ec3c962392d2
}

.noborder{
    border:none;
}
table .ERROR{
    background-color:red !important;
}
.expr .ERROR{
    background-color:red !important;
}
table{
    background-color:white;
}

<<<<<<< HEAD
/*****************************
 Things we'd like shaded...
 The header, the drawer, anything being dragged, and any non-nested expr
 *****************************/
.ui-sortable-helper, #List li>*, #header, #Drawer{
    box-shadow: 3px 3px 4px #000;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}

=======
.wired{
    opacity:.4;
}

.highlighted{
    background-color:yellow !important;
}

.ErrorMessage{
    background-color:#FCF0AD;
    position:absolute;
    
}

.definition{
    width:100%;
    text-align:center;
    border-bottom: 1px solid #000;
    border-top:1px solid #000;
    background-color:white;
}

.outputMessage{
    background-color:white;
}

.output{
    background-color:white;
    overflow:auto
}

.errorOutput{
    background-color:#FCF0AD;
    width:300px;
    overflow:auto;
}
>>>>>>> ba185e6ad53378bc518f5f44aa57ec3c962392d2
